html[data-theme='dark'] {
    --primary-foreground: #ffffff;
    --primary-background: #2a2343;
    --secondary-foreground: #7e7b8d;
    --secondary-background: #433b62;
    --tertiary-foreground: #ffffff;
    --tertiary-background: #000000;
}
