html[data-theme='light'] {
    --primary-background: #6c40b5;
    --primary-foreground: #ffffff;
    --secondary-foreground: #666666;
    --secondary-background: #ffffff;
    --tertiary-foreground: #000000;
    --tertiary-background: #ffffff;
}
